<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{% static 'tailwindcss.js' %}"></script>
    <script>
      // Load the Visualization API and the linechart package.
      google.charts.load('current', { packages: ['corechart'] });

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        // Create the data table.
        const data = new google.visualization.DataTable();
        const data2 = new google.visualization.DataTable();

        data.addColumn('string', 'Date');
        data.addColumn('number', 'Percentage');

        data2.addColumn('string', 'Date');

        const subjects = {{ subjects|safe }};
        subjects.forEach(subject => {
            data2.addColumn('number', subject);
        });

        // Add data from Django context.
        const chartData = [
          {% for record in attendance_records %}
            ['{{ record.date }}', {{ record.percentage|floatformat:2 }}],
          {% endfor %}
        ];

        const chartData2 = {{ subject_details|safe }};

        data.addRows(chartData.reverse());
        data2.addRows(chartData2.reverse());

        // Set chart options
        const options = {
          pointsVisible: true,
          hAxis: {
            title: 'Date',
          },
          vAxis: {
            title: 'Percentage',
            ticks: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
          },
        };

        const options2 = {
          pointsVisible: true,
          hAxis: {
            title: 'Date',
          },
          vAxis: {
            title: 'Percentage',
            ticks: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
          },
        };

        // Instantiate and draw our chart, passing in some options.
        const chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        const chart2 = new google.visualization.LineChart(document.getElementById('curve_chart2'));

        chart.draw(data, options);
        chart2.draw(data2, options2);
      }
    </script>
    <script>
      function toggleDropdown() {
        document.querySelector('.z-10').classList.toggle('hidden');
      }
    </script>
  </head>
  <body>
      <header
        class="bg-zinc-200"
      >
        <nav class="max-w-screen-2xl mx-auto flex justify-between items-center p-4">
          <div class="flex items-center">
            <img
              src="{% static 'assets/ov.png' %}"
              alt="OnlyVels AMS"
              width="1280"
              height="320"
              class="h-10 w-auto"
            />
            <span class="font-medium text-xs">AMS</span>
          </div>
          {% if student %}
          <div class="relative inline-block text-left">
            <div>
              <button type="button" onclick="toggleDropdown()" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="menu-button" aria-expanded="true" aria-haspopup="true">
                {{ student.studName }}
                <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                </svg>
              </button>
            </div>
          
            <div class="hidden absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
              <div class="py-1" role="none">
                <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                <small class="block px-4 py-2 text-sm text-gray-700">Ntfy: {{ student.ntfy_topic }}</small>
                <hr>
                <a href="{% url 'logout' %}" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="menu-item-2">Logout</a>
              </div>
            </div>
          </div>
          {% endif %}
        </nav>
      </header>

    <div class="mx-auto mt-4 max-w-screen-2xl">
      {% if error_message %}
      <p class="text-red-500 text-center mt-4">{{ error_message }}</p>
      {% endif %}

      <div class="bg-white border border-gray-200 rounded-lg p-4">
        <h2 class="font-bold text-2xl text-center">Attendance Percentage</h2>
        <div id="curve_chart" style="height: 500px" class="w-full mb-3"></div>
        <hr/>
        <h2 class="font-bold text-2xl text-center mt-3">Subject Attendance</h2>
        <div id="curve_chart2" style="height: 500px" class="w-full mb-3"></div>
        <table
          class="min-w-full bg-white border border-gray-200 rounded-lg mt-6 overflow-scroll"
        >
          <thead>
            <tr class="bg-gray-100 border-b">
            <th class="py-3 px-4 text-left text-sm font-medium text-gray-900">
                Last Run
              </th>
              <th class="py-3 px-4 text-left text-sm font-medium text-gray-900">
                Date
              </th>
              <th class="py-3 px-4 text-left text-sm font-medium text-gray-900">
                Percentage
              </th>
              {% for sub in attendance_records.0.subject_details %}
                  <th class="py-3 px-4 text-left text-sm font-medium text-gray-900">{{ sub }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% if attendance_records %} {% for record in attendance_records %}
            <tr class="border-b">
              <td class="py-3 px-4 text-sm text-gray-900">{{ record.last_run }}</td>
              <td class="py-3 px-4 text-sm text-gray-900">{{ record.date }}</td>
              <td class="py-3 px-4 text-sm text-gray-900">
                {{ record.percentage|floatformat:2 }}%
              </td>
              {% for sub, value in record.subject_details.items %}
              <td class="py-3 px-4 text-sm text-gray-900">{{ value }}</td>
              {% endfor %}
            </tr>
            {% endfor %} {% else %}
            <tr>
              <td colspan="2" class="py-3 px-4 text-center text-gray-500">
                No records found
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
    <div
      class="text-center flex justify-center items-center mt-12 p-3 border bt"
    >
      <a
        href="https://github.com/0xramm/Attendance-Monitoring"
        target="_blank"
        rel="noopener noreferrer"
        class="flex justify-center items-center"
      >
        <p class="text-gray-600 mb-2 font-semibold">Contribute to OnlyVels</p>
        <img
          class="h-5 ml-2 mb-1"
          src="{% static 'assets/git.svg' %}"
          width="20"
          height="20"
          alt=""
        />
      </a>
    </div>
  </body>
</html>
